<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biz.bizbulls">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.biz.bizbulls.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BizBullsIndia"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.biz.bizbulls.FranchisorServicesActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.KycListActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.AproveStatusActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.FilterActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.FollowUsActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.ReatingActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.ReferActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.MyReferralsActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.HelpActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.MyWalletActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.RegisterComplianActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.TermsConditionActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.SetupOfficeActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.AddStaffDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.FinabilityActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.OfficeLocationMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_office_location_maps" />
        <activity
            android:name="com.biz.bizbulls.AgreementsStatusActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.SplashScreenActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.biz.bizbulls.menu.NotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.biz.bizbulls.menu.MyOfferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.biz.bizbulls.menu.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.biz.bizbulls.SignupActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name="com.biz.bizbulls.DashboardActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.biz.bizbulls.ForgotPasswordActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name="com.biz.bizbulls.CreateNewPasswordActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name="com.biz.bizbulls.LoginActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name="com.biz.bizbulls.ProjectInfoActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name="com.biz.bizbulls.ui.registrationforfo.FoRegistrationDashBoardActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name="com.biz.bizbulls.ui.registrationforfo.FranchiseeRegistrationActivity"
            android:exported="true" />
        <activity android:name="com.biz.bizbulls.KycDocViewActivity" />
        <activity android:name="com.biz.bizbulls.KycStatusViewActivity" />
        <activity android:name="com.biz.bizbulls.LocationDocViewActivity" />
        <activity android:name="com.biz.bizbulls.RegisterUserListActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.biz.bizbulls.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>